/* CONTENEDOR PRINCIPAL */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 1rem;
  text-align: center;
  color: var(--text);
  background-color: white;
}

/* TÍTULO */
.heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-shadow: 0 0 25px rgba(238, 99, 52, 0.4);
}

/* SWIPER */
.swiper_container {
  height: 45rem;
  padding: 2rem 0;
  position: relative;
}

.swiperSlide {
  width: 15rem !important;
  height: 30rem !important;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(10, 33, 56, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swiperSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
  filter: brightness(0.95) saturate(1.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover */
.swiperSlide:hover img {
  transform: scale(1.05);
  filter: brightness(1.1) saturate(1.4);
}

.swiperSlide:hover {
  box-shadow: 0 0 35px rgba(10, 33, 56, 0.8);
}

/* NAVEGACIÓN Y PAGINACIÓN */
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary) !important;
  transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ff944d !important;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: var(--primary);
  width: 1.2rem;
  height: 1.2rem;
}
